# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Node.js dependencies
node_modules/

# macOS system files
.DS_Store

# VS code
.vscode/

# Log files
*.log
logs/

# Other data
data/geometries
data/book_covers
